@charset "UTF-8";
@media screen and (max-width: 1354px) {
  main .section6 .flex-projetos .projetos {
    min-width: 350px;
    width: 45%;
  }
}
@media screen and (max-width: 1246px) {
  #h2 {
    font-size: 5rem;
  }
  #h3 {
    top: -80px;
    font-size: 28px;
  }
}
@media screen and (max-width: 1230px) {
  main .section1 .box-flex {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
  }
  main .section1 .box-flex .left-sobre {
    width: 100%;
    padding-right: 20px;
  }
  main .section1 .box-flex .right-sobre {
    width: 80%;
    margin: 0 auto;
  }
  main .section4 .box-certificados {
    width: 80%;
  }
}
@media screen and (max-width: 1020px) {
  #h2 {
    font-size: 4.5rem;
  }
  #h3 {
    top: -75px;
  }
  main .section6 .flex-projetos .projetos {
    width: 80%;
  }
  #responsive-project {
    height: 300px;
  }
  #opacity-project {
    width: 100%;
    height: 300px;
  }
}
@media screen and (max-width: 990px) {
  .sidebar {
    display: none;
  }
  .container-global {
    display: block;
  }
  header {
    display: flex;
  }
  #h2 {
    font-size: 6rem;
    color: rgba(151, 158, 170, 0.048);
  }
  #h3 {
    top: -90px;
    font-size: 25px;
  }
  main {
    margin-left: 0;
    margin-top: 78px;
  }
  main .section2 .flex-service .box-services {
    width: 45%;
    min-width: 200px;
  }
  main .section4 .box-certificados {
    width: 45%;
  }
  main .section6 .flex-projetos .projetos {
    width: 47%;
    min-width: 300px;
  }
  #responsive-project {
    height: 220px;
  }
  #opacity-project {
    width: 100%;
    height: 220px;
  }
  footer {
    margin-left: 0;
  }
}
/*
@media screen and (max-width:990px){


.sidebar{
    width: 100%;
    min-height: 0;
    height: auto;
    background-color:#0c0c0c;
    text-align: center;
    padding: 20px;
    position: fixed;
    z-index: 999;
}


.nav-list {

}

.nav-list li {
    margin-left: 0;
    opacity: 0;
    margin: 30px 0;
}

.mobile-menu {
    display: block;
    float: right;
}


.nav-list.active {
transform: translateX(0);
}

@keyframes navLinkFade {
from {
    opacity: 0;
    transform: translateX(50px);
}

to {
    opacity: 1;
    transform: translateX(0);
}

}

.mobile-menu.active .line1 {
transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
opacity: 0;
}

.mobile-menu.active .line3 {
transform: rotate(45deg) translate(-5px, -7px);
}

    #h2{
        font-size: 6rem;
        color: rgba(151, 158, 170, 0.048);
    }

     #h3{
        top: -90px;
        font-size: 25px;
    }

    main{
        margin-left: 0;

    }

    main .section2  .flex-service .box-services{
        width: 45%;
        min-width: 200px;
    }

    main .section4 .box-certificados{
        width: 45%;
    }

    main .section6 .flex-projetos .projetos{
        width: 325px;
     }

     #responsive-project{
        height: 220px;
     }


     #opacity-project{
        width: 325px;
        height: 220px;
    }

    footer{
        margin-left: 0;
    }
}
*/
@media screen and (max-width: 914px) {
  #h2 {
    font-size: 5rem;
  }
  #h3 {
    top: -80px;
  }
}
@media screen and (max-width: 880px) {
  main .section4 .box-certificados {
    width: 45%;
    min-width: 300px;
    margin: 10px auto;
  }
  main .section4 .box-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 1100px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  main .home .background-opacity .title-home h2 {
    font-size: 20px;
  }
  main .home .background-opacity .title-home #texto-maquina {
    font-size: 45px;
  }
  #h2 {
    font-size: 4rem;
  }
  #h3 {
    top: -65px;
  }
}
@media screen and (max-width: 780px) {
  main .section2 .flex-service {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
  }
  main .section2 .flex-service .box-services {
    min-width: 100%;
    margin: 20px 0;
  }
}
@media screen and (max-width: 700px) {
  main .section6 .flex-projetos .projetos {
    width: 47%;
    min-width: 200px;
    margin-left: 5px;
  }
  #opacity-project {
    width: 100%;
  }
}

@media screen and (max-width: 690px){
  main .section4 .box-certificados {
    width: 90%;
  }
}


@media screen and (max-width: 650px) {
  main .section1 .box-flex .left-sobre {
    width: 100%;
    min-width: 0;
    padding-right: 0;
  }
  main .section1 .box-flex .right-sobre {
    width: 100%;
  }
}
@media screen and (max-width: 630px) {
  #h2 {
    font-size: 3.5rem;
  }
  #h3 {
    top: -55px;
    font-size: 20px;
  }
}
@media screen and (max-width: 580px) {
  main .section8 .box-form {
    width: 100%;
  }
  main .section8 .box-form form {
    padding: 40px 0;
    width: 100%;
  }
  main .section8 .box-block {
    margin-top: 20px;
  }
}
@media screen and (max-width: 550px) {
  #h2 {
    font-size: 2.5rem;
  }
  #h3 {
    top: -42.5px;
    font-size: 17px;
  }
  main .home .background-opacity {
    height: 560px;
  }
  main .home .background-opacity .title-home h2 {
    font-size: 17px;
  }
  main .home .background-opacity .title-home #texto-maquina {
    font-size: 37px;
  }
  main .home .background-opacity .title-home button {
    padding: 15px 40px;
    font-size: 14px;
  }
  main .home .background-opacity i {
    font-size: 35px;
    bottom: 0;
  }
  main .section1 .box-flex .left-sobre p {
    font-size: 13.5px;
    line-height: 25px;
  }
  main .section1 .box-experiencia .experi {
    margin: 0 20px;
  }
  main .section7 .box-flex .depoimentos {
    min-width: 100%;
    height: auto;
    color: white;
    padding: 40px 40px;
    margin: 20px 0;
    transition: transform 0.5s ease; /* Adicionado efeito de transição */
  }
}
/*@media screen and (max-width:500px){
    #h6-desc{
        font-size: 18px;
    }
} */
@media screen and (max-width: 482px) {
  main .section6 .flex-nav a {
    margin: 0 10px;
  }
}
@media screen and (max-width: 460px) {
  main .home .background-opacity .title-home h2 {
    font-size: 16.5px;
  }
  main .home .background-opacity .title-home #texto-maquina {
    font-size: 30px;
  }
  main .home .background-opacity .title-home button {
    padding: 15px 40px;
    font-size: 13px;
  }
  main .section1 .box-flex .left-sobre h4 {
    color: var(--color-title);
    font-size: 25px;
  }
  main .section1 .box-flex .left-sobre p {
    font-size: 13px;
  }
  main .section1 .box-flex .right-sobre p {
    font-size: 13px;
  }
  main .section1 .box-flex .right-sobre .box-whats {
    justify-content: left;
  }
  main .section2 .flex-service .box-services i {
    font-size: 36px;
  }
  main .section2 .flex-service .box-services .descri-services h5 {
    font-size: 15.5px;
  }
  main .section2 .flex-service .box-services .descri-services p {
    width: 100%;
    font-size: 13px;
  }
  footer {
    padding: 50px 20px;
  }
  footer p {
    color: var(--color-title);
    font-weight: 300;
    font-size: 13px;
  }
}
@media screen and (max-width: 450px) {
  main .section6 .flex-projetos .projetos {
    width: 100%;
    min-width: 200px;
    margin-left: 0;
  }
  #opacity-project {
    width: 100%;
  }
}
@media screen and (max-width: 422px) {
  main .section6 .flex-nav a {
    margin: 0 10px;
    font-size: 13px;
  }
}
@media screen and (max-width: 420px) {
  #h2 {
    font-size: 2rem;
  }
  #h3 {
    top: -35px;
    font-size: 15px;
  }
  main .section5 {
    background-color: var(--color-secundary);
    padding: 100px 20px;
  }
  main .section5 .box-flex {
    margin: 20px auto;
  }
  main .section5 .box-flex .box-skills {
    margin: 20px 10px;
    padding: 20px 15px;
    width: 135px;
  }
  main .section5 .box-flex .box-skills h5 {
    font-size: 14px;
  }
  main .section5 .box-flex .box-skills i {
    font-size: 40px;
    margin: 10px 0;
  }
}
@media screen and (max-width: 400px) {
  #h2 {
    display: none;
  }
  #h3 {
    font-size: 22.5px;
    top: 0;
  }
  .nav-list li a {
    color: #979eaa;
    font-size: 12px;
  }
  #line {
    width: 100px;
    height: 1px;
    background-color: #F74B0A;
    margin: 0 auto 40px auto;
  }
  main .home .background-opacity .title-home #texto-maquina {
    font-size: 28px;
  }
  #experi-3 {
    margin-left: 0;
  }
  #experi-15 {
    margin-right: 0;
  }
  main .section1 .box-experiencia .experi h5 {
    font-size: 28px;
  }
  main .section1 .box-experiencia .experi span {
    font-size: 12px;
  }
  main .section4 .box-certificados {
    width: 100%;
    min-width: 0;
    margin: 10px auto;
    padding: 0.5;
  }
  main .section1 {
    padding: 50px 20px;
  }
  main .section2 {
    padding: 50px 20px;
  }
  main .section1 .box-flex .left-sobre h4 {
    color: var(--color-title);
    font-size: 20px;
  }
  main .section3 {
    padding: 50px 20px;
  }
  main .section4 {
    padding: 50px 20px;
  }
  main .section4 .box-certificados img {
    opacity: 0.8;
  }
  main .section5 {
    padding: 50px 20px;
  }
  main .section6 {
    padding: 50px 20px;
  }
  main .section6 .flex-nav a {
    font-size: 13px;
    margin: 0 5px;
  }
  main .section7 {
    padding: 50px 20px;
  }
  main .section7 .box-flex .depoimentos {
    padding: 20px 20px;
  }
  main .section7 .box-flex .depoimentos .flex-persona .foto-persona h6 {
    margin-left: 20px;
    font-size: 16px;
  }
  main .section7 .box-flex .depoimentos .flex-persona .box-descri p {
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  main .section8 {
    padding: 50px 20px;
  }
  main .section8 .box-block .flex-fone span {
    font-size: 14px;
  }
  main .section8 .box-block .flex-fone i {
    color: var(--color-parag2);
    font-size: 18px;
  }
  main .section8 .box-block .redes i {
    color: var(--color-parag2);
    margin-right: 20px;
    font-size: 25px;
  }
  main .section8 .box-form form label {
    font-size: 13px;
  }
  main .section8 .box-form form textarea {
    width: 100%;
    height: 250px;
  }
  main .section8 .box-form .div-button button {
    width: 250px;
  }
  main .section6 .flex-projetos .projetos {
    width: 100%;
    margin: 20px 0;
  }
  #responsive-project {
    height: 225px;
  }
  #opacity-project {
    width: 100%;
    height: 225px;
  }
  main .section6 .flex-projetos .projetos .projeto1 {
    height: 225px;
  }
  main .section6 .flex-projetos .projetos .projeto14 {
    height: 225px;
  }
}
@media screen and (max-width: 350px) {
  main .section5 .box-flex .box-skills {
    margin: 20px 10px;
    padding: 20px 15px;
    width: 120px;
  }
  main .section5 .box-flex .box-skills h5 {
    font-size: 13px;
  }
  main .section5 .box-flex .box-skills i {
    font-size: 35px;
    margin: 10px 0;
  }
}/*# sourceMappingURL=responsivo.css.map */