@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");
:root {
  /*--color-primary:#986dff;*/
  --color-primary:#F74B0A;
  --color-secundary:#111111;
  --color-sidebar:#0c0c0c;
  --color-terciary:#151515;
  --color-quatenary:#343a40;
  --color-parag:#979eaa;
  --color-parag2:#8f8d82;
  --color-title:#fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/*html{
  scroll-behavior: smooth;
}
*/

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: var(--color-terciary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 20px;
}

::-moz-selection {
  background: var(--color-title);
  color: var(--color-primary);
}

::selection {
  background: var(--color-title);
  color: var(--color-primary);
}

/*SIDEBAR*/
.sidebar {
  width: 250px;
  min-height: 100vh;
  height: auto;
  background-color: var(--color-sidebar);
  text-align: center;
  padding: 10px 20px 20px 20px;
  position: fixed;
}


.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-track {
  background: var(--color-terciary);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 20px;
}

.sidebar .navbar .foto-perfil {
  width: 150px;
  height: auto;
  background-color: var(--color-quatenary);
  padding: 8px;
  border-radius: 100%;
  margin: 0 auto;
}

.sidebar .navbar .foto {
  width: 100%;
  height: 140px;
  background-image: url(../imagens/persona/perfil.webp);
  background-size: cover;
  background-position: center;
  border-radius: 100%;
}

.sidebar .navbar h4 {
  color: var(--color-title);
  font-size: 21px;
  margin: 15px auto 20px auto;
}

.sidebar .navbar {
  margin: 40px auto 10px auto;
}

.sidebar .navbar ul li {
  margin: 20px 0;
}

.sidebar .navbar ul li a {
  color: var(--color-parag);
  font-size: 14.5px;
  transition: 0.2s;
  padding: 10px;
}

.sidebar .navbar ul li a:hover {
  color: var(--color-primary);
}

.sidebar .botao-whats button {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-title);
  border: none;
  border-radius: 10px;
  padding: 10px 5px;
  margin: 20px 0 40px 0;
  cursor: pointer;
}

.sidebar .botao-whats {
  color: var(--color-title);
}

.sidebar .redes-sociais {
  margin: 0 auto;
}

.sidebar .redes-sociais i {
  color: var(--color-parag);
  margin: 0 5px;
  margin: 20px 5px 10px 5px;
  font-size: 20px;
  cursor: pointer;
}

/*MAIN*/
main {
  width: 100%;
  height: auto;
  background-color: var(--color-terciary);
  margin-left: 250px;
  overflow: hidden;
}

main .home {
  width: 100%;
  height: auto;
  background-image: url(../imagens/background-dev.jpg);
  background-size: cover;
}

main .home .background-opacity {
  width: 100%;
  height: 690px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 225px 20px;
  display: flex;
  flex-direction: column;
}

main .home .background-opacity .title-home {
  color: var(--color-title);
  text-align: center;
  min-height: 300px;
}

main .home .background-opacity .title-home h2 {
  font-size: 25px;
}

main .home .background-opacity .title-home #texto-maquina {
  font-size: 55px;
  max-width: 800px;
  min-height: 100px;
  height: auto;
  margin: 0 auto;
}

.cursor {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 20px;
  background-color: black;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
main .home .background-opacity .title-home button {
  padding: 15px 50px;
  cursor: pointer;
  border: 2px solid var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  color: var(--color-primary);
  background-color: transparent;
  border-radius: 30px;
  margin-top: 20px;
  transition: 0.5s;
}

main .home .background-opacity .title-home button:hover {
  background-color: var(--color-primary);
  color: var(--color-title);
}

main .home .background-opacity i {
  color: var(--color-title);
  font-size: 40px;
  margin: 0 auto;
  position: relative;
  bottom: -100px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-10px);
  }
}
main .home .background-opacity i {
  display: inline-block;
  font-size: 40px;
  cursor: pointer;
  animation: bounce 2s infinite;
}

/*SECTION 1*/
main .section1 {
  padding: 50px 40px;
}

main .section1 .title-sobre {
  text-align: center;
  color: var(--color-title);
}

main .section1 .title-sobre h2 {
  font-size: 6.5rem;
  color: rgba(151, 158, 170, 0.0823529412);
  text-transform: uppercase;
  z-index: 1;
}

main .section1 .title-sobre h3 {
  color: var(--color-title);
  position: relative;
  top: -95px;
  font-size: 30px;
  z-index: 2;
}

main .section1 .box-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

main .section1 .box-flex .left-sobre {
  width: 60%;
  min-width: 600px;
  padding-right: 20px;
}

main .section1 .box-flex .left-sobre h4 {
  color: var(--color-title);
  font-size: 28px;
}

main .section1 .box-flex .left-sobre h4 span {
  color: var(--color-primary);
}

main .section1 .box-flex .left-sobre p {
  color: #8f8d82;
  line-height: 30px;
  margin: 15px 0;
  font-size: 14.5px;
}

main .section1 .box-flex .right-sobre {
  width: 30%;
  min-width: 300px;
  padding-top: 50px;
}

main .section1 .box-flex .right-sobre p {
  color: var(--color-title);
  margin: 5px 0;
}

main .section1 .box-flex .right-sobre span {
  color: var(--color-parag);
  padding: 0 10px;
}

main .section1 .box-flex .right-sobre .email {
  color: var(--color-primary);
}

main .section1 .box-flex .right-sobre .line {
  width: 100%;
  height: 1px;
  background-color: rgba(143, 141, 130, 0.3843137255);
  margin: 10px 0;
}

main .section1 .box-flex .right-sobre .box-whats {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

main .section1 .box-flex .right-sobre a button {
  width: 250px;
  background-color: var(--color-primary);
  color: var(--color-title);
  border: none;
  border-radius: 10px;
  padding: 10px 5px;
  cursor: pointer;
}

main .section1 .box-experiencia {
  display: flex;
  justify-content: left;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 80px;
}

main .section1 .box-experiencia .experi {
  color: var(--color-parag);
  margin: 0 40px;
  text-align: center;
}

main .section1 .box-experiencia .experi h5 {
  font-size: 45px;
}

main .section1 .box-experiencia .line {
  height: 100px;
  width: 1px;
  background-color: rgba(143, 141, 130, 0.3843137255);
}

/*SECTION 2*/
main .section2 {
  padding: 100px 40px;
  background-color: var(--color-secundary);
}

main .section2 .title-service {
  text-align: center;
  color: var(--color-title);
}

main .section2 .title-service h2 {
  font-size: 6.5rem;
  color: rgba(151, 158, 170, 0.0823529412);
  text-transform: uppercase;
  z-index: 1;
}

main .section2 .title-service h3 {
  color: var(--color-title);
  position: relative;
  top: -95px;
  font-size: 30px;
  z-index: 2;
}

main .section2 .flex-service {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1100px;
}

main .section2 .flex-service .box-services {
  display: flex;
  align-items: center;
  margin: 20px auto;
  width: 50%;
  min-width: 295px;
}

/*main .section2  .flex-service .box-services i{
    color: var(--color-primary);
    width: 90px;
    height: 90px;
    background-color:#212529;
    border-radius: 5px;
    padding: 20px ;
    margin-right: 20px;
}*/
main .section2 .flex-service .box-services i {
  color: var(--color-primary);
  font-size: 42.5px;
  background-color: #212529;
  border-radius: 5px;
  padding: 20px;
  margin-right: 20px;
}

main .section2 .flex-service .box-services .descri-services h5 {
  color: var(--color-title);
  font-size: 20px;
  font-weight: 400;
}

main .section2 .flex-service .box-services .descri-services p {
  color: var(--color-parag2);
  width: 90%;
  font-size: 14.5px;
  margin-top: 10px;
}

/*SECTION 3*/
main .section3 {
  background-color: var(--color-terciary);
  padding: 100px 40px;
}

main .section3 .title-service {
  text-align: center;
  color: var(--color-title);
}

main .section3 .title-service h2 {
  font-size: 6.5rem;
  color: rgba(151, 158, 170, 0.0823529412);
  text-transform: uppercase;
  z-index: 1;
}

main .section3 .title-service h3 {
  color: var(--color-title);
  position: relative;
  top: -95px;
  font-size: 30px;
  z-index: 2;
}

main .section3 .box-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
}

main .section3 .box-flex .box-experiencia {
  border: 1px solid var(--color-parag2);
  margin: 20px 15px;
  width: 45%;
  min-width: 250px;
  padding: 20px;
}

main .section3 .box-flex .box-experiencia span {
  color: var(--color-title);
  display: block;
  background-color: var(--color-primary);
  width: 160px;
  text-align: center;
  border-radius: 5px;
  font-size: 14.5px;
}

main .section3 .box-flex .box-experiencia img {
  width: 170px;
}

main .section3 .box-flex .box-experiencia h6 {
  color: var(--color-primary);
  font-size: 18px;
  margin-top: -20px;
}

main .section3 .box-flex .box-experiencia p {
  color: var(--color-parag2);
  font-size: 14px;
  line-height: 30px;
  margin-top: 20px;
}

/*SECTION 4*/
main .section4 {
  background-color: var(--color-secundary);
  padding: 100px 40px;
}

main .section4 .title-service {
  text-align: center;
  color: var(--color-title);
}

main .section4 .title-service h2 {
  font-size: 6.5rem;
  color: rgba(151, 158, 170, 0.0823529412);
  text-transform: uppercase;
  z-index: 1;
}

main .section4 .title-service h3 {
  color: var(--color-title);
  position: relative;
  top: -95px;
  font-size: 30px;
  z-index: 2;
}

main .section4 .box-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}

main .section4 .box-certificados{
  width: 45%;
  height: auto;
  min-width: 300px;
  margin: 20px;
  border-radius: 5px;
}

main .section4 .box-certificados .certificado{
  width: 100%;
  height: auto;
  min-width: 300px;
  background-color: #212529;
  border-radius: 5px;
}

main .section4 .box-certificados img {
  width: 100%;
  height: 350px;
  padding: 20px 20px 10px 20px;
}

/*SECTION 5*/
main .section5 {
  background-color: var(--color-terciary);
  padding: 100px 40px;
}

main .section5 .title-service {
  text-align: center;
  color: var(--color-title);
}

main .section5 .title-service h2 {
  font-size: 6.5rem;
  color: rgba(151, 158, 170, 0.0823529412);
  text-transform: uppercase;
  z-index: 1;
}

main .section5 .title-service h3 {
  color: var(--color-title);
  position: relative;
  top: -95px;
  font-size: 30px;
  z-index: 2;
}

main .section5 .box-flex {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  max-width: 1025px;
  justify-content: center;
}

main .section5 .box-flex .box-skills {
  background-color: #212529;
  color: var(--color-primary);
  margin: 20px 20px;
  padding: 20px 15px;
  width: 130px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2.5px solid var(--color-primary);
  border-radius: 20% 0 0 0;
}

main .section5 .box-flex .box-skills h5 {
  font-size: 14px;
}

main .section5 .box-flex .box-skills i {
  font-size: 40px;
  margin: 10px 0;
}

/*SECTION 6*/
main .section6 {
  background-color: var(--color-secundary);
  padding: 100px 20px;
}

main .section6 .title-service {
  text-align: center;
  color: var(--color-title);
}

main .section6 .title-service h2 {
  font-size: 6.5rem;
  color: rgba(151, 158, 170, 0.0823529412);
  text-transform: uppercase;
  z-index: 1;
}

main .section6 .title-service h3 {
  color: var(--color-title);
  position: relative;
  top: -95px;
  font-size: 30px;
  z-index: 2;
}

main .section6 .flex-nav {
  display: flex;
  justify-content: center;
}

main .section6 .flex-nav a {
  color: var(--color-parag2);
  transition: 0.2s;
  margin: 0 20px;
  padding: 10px;
}

main .section6 .flex-nav a:hover {
  color: var(--color-primary);
}

main .section6 .flex-projetos {
  max-width: 1100px;
  margin: 50px auto 0 auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-around;
}

main .section7 {
  background-color: var(--color-terciary);
  padding: 100px 20px;
}

main .section7 .title-service {
  text-align: center;
  color: var(--color-title);
}

main .section7 .title-service h2 {
  font-size: 6.5rem;
  color: rgba(151, 158, 170, 0.0823529412);
  text-transform: uppercase;
  z-index: 1;
}

main .section7 .title-service h3 {
  color: var(--color-title);
  position: relative;
  top: -95px;
  font-size: 30px;
  z-index: 2;
}

main .section7 .box-flex {
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
  overflow: hidden;
}

main .section7 .box-flex .depoimentos {
  min-width: 500px;
  height: auto;
  background-color: #16191b;
  color: white;
  padding: 40px 40px;
  margin: 20px 20px;
}

main .section7 .box-flex .depoimentos .flex-persona .foto-persona {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

main .section7 .box-flex .depoimentos .flex-persona .foto-persona img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

main .section7 .box-flex .depoimentos .flex-persona .foto-persona h6 {
  margin-left: 20px;
  font-size: 18px;
}

main .section7 .box-flex .depoimentos .flex-persona .box-descri p {
  width: 100%;
  line-height: 30px;
  color: var(--color-parag);
}

main .section8 {
  background-color: var(--color-secundary);
  padding: 100px 40px;
}

main .section8 .title-service {
  text-align: center;
  color: var(--color-title);
}

main .section8 .title-service h2 {
  font-size: 6.5rem;
  color: rgba(151, 158, 170, 0.0823529412);
  text-transform: uppercase;
  z-index: 1;
}

main .section8 .title-service h3 {
  color: var(--color-title);
  position: relative;
  top: -95px;
  font-size: 30px;
  z-index: 2;
}

main .section8 .box-flex {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

main .section8 .box-block {
  color: var(--color-parag2);
  height: auto;
}

main .section8 .box-block .flex-fone {
  font-size: 16.5px;
  display: flex;
  align-items: center;
  margin: 20px 0;
  font-weight: 400;
}

main .section8 .box-block .flex-fone span {
  margin-left: 10px;
}

main .section8 .box-block .flex-fone i {
  color: var(--color-parag2);
  font-size: 22.5px;
}

main .section8 .box-block .redes {
  display: flex;
  margin-top: 40px;
}

main .section8 .box-block .redes i {
  color: var(--color-parag2);
  margin-right: 20px;
  font-size: 34.5px;
}

main .section8 .box-form form {
  padding: 40px 20px;
  width: 500px;
}

main .section8 .box-form form label {
  display: block;
  color: var(--color-parag2);
  margin-top: 20px;
}

main .section8 .box-form form input {
  width: 100%;
  background-color: transparent;
  border: none;
  transition: 0.2s;
  color: var(--color-title);
}

main .section8 .box-form form input:focus {
  outline: none;
  padding: 10px 0;
}

main .section8 .box-form form .line {
  width: 100%;
  height: 1px;
  background-color: rgba(143, 141, 130, 0.3843137255);
}

main .section8 .box-form form textarea {
  width: 100%;
  margin-top: 10px;
  background-color: var(--color-terciary);
  border: rgba(116, 114, 107, 0.3843137255);
  color: var(--color-title);
  padding: 20px;
  resize: none;
}

main .section8 .box-form form textarea:focus {
  outline: none;
}

main .section8 .box-form .div-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

main .section8 .box-form .div-button button {
  width: 300px;
  background-color: #F74B0A;
  color: var(--color-title);
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

footer {
  padding: 50px 40px;
  background-color: var(--color-terciary);
  text-align: center;
  margin-left: 250px;
}

footer p {
  color: var(--color-title);
  font-weight: 300;
}

footer span {
  color: var(--color-primary);
}/*# sourceMappingURL=style.css.map */